library/Zend/
library/Symfony/
.buildpath
.project
.DS_Store
.settings/
.foundation-tmp
phar
*.phar
tests/reports
pirum
nbproject
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.xz
*.lzma
*.iso
*.tar
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.tgz
