<phpunit backupGlobals="false"
	backupStaticAttributes="false"
	cacheTokens="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	processIsolation="false"
	stopOnFailure="false"
	syntaxCheck="false"
	verbose="true">
	<php>
		<ini name="error_reporting" value="-1" />
		<ini name="date.timezone" value="UTC" />
	</php>
	<testsuites>
		<testsuite>
			<directory suffix="Test.php">tests</directory>
		</testsuite>
	</testsuites>
	<filter>
		<whitelist>
			<directory>library/</directory>
		</whitelist>
	</filter>
</phpunit>
<!--
vim: ft=xml noet ts=4 sw=4:
-->
